* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Red Hat Display";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
}

.card {
    width: 25rem;
    height: 39.5rem;
    border-radius: 1rem;

    background: hsl(225, 100%, 98%);
}

.card__illustration {
    width: 100%;
    border-radius: 1rem 1rem 0 0 ;
}

.card__content {
    display: flex;
    flex-direction: column;
   
    padding: 2.8rem;
}

.card__title {
    color: hsl(223, 47%, 23%);
    text-align: center;
    font-weight: 900;

    padding-bottom: 1rem;
}

.card__description {
    color: hsl(224, 23%, 55%);
    text-align: center;
}

.card__plan {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.5rem 1rem;
}

.card__plan__box {
    display: flex;
    gap: 1rem;
}

.card__plan__box .type {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.card__plan__box .price {
    color: hsl(224, 23%, 55%);
}

.card__link {
    color: hsl(245, 75%, 52%);
    font-size: 0.8rem;
    font-weight: 700;
}

.card__link:hover {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.card__btn {
    color: hsl(225, 100%, 98%);
    font-size: 0.9rem;
    background: hsl(245, 75%, 52%);
    font-weight: 900;

    border: 0;
    border-radius: 0.8rem;
    padding: 0.9rem 0;
    margin-bottom: 1.5rem;
}
.card__btn:hover {
    cursor: pointer;
    background: hsla(245, 75%, 52%, 0.7);
}


.card__cancel {
    color: hsl(224, 23%, 55%);
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 900;
}

.card__cancel:hover {
    color: hsl(223, 47%, 23%);
}

footer {
    position: fixed;
    bottom: 1rem;

    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
footer a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 600px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
        background-size: 200%;
    }

    .card {
        width: 20rem;
        height: 34rem;
    }

    .card__content {
        padding: 1.5rem;
    }
}
